/* All styles for your header Components live here */

.HeaderContainer {
    display: flex;
    
    width: 590px;
}



img {
    margin: 10px;
    width: 50px;
    border-radius: 50px;
}

html {
    font-size: 62.5%;
}

p {
    font-size: 1.6em;
}

h1 {
    font-size: 1.7em;
    color: lightgrey;
}

span {
    color: black;
}
